* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main {
  display: flex;
  flex-wrap: wrap;
} */

section {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 10px 10px;
}

img {
  width: 32.5%;
}

@media only screen and (max-width: 768px) {
  img {
    width: 48%;
  }
}

@media only screen and (max-width: 576px) {
  img {
    width: 98%;
  }
}
