.wrapper {
  background-color: black;
  height: 200px;
}

.box {
  height: 100px;
  width: 100px;
  background-color: tomato;
  transition-duration: 5s;
}

.box:hover {
  transform: translateX(500px);
}
