* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gridParent {
  display: grid;
  gap: 10px;

  grid-template-columns: repeat(3, 1fr);
}

.gridParent * {
  height: 100px;
}

.red {
  background-color: red;
  grid-column: 1/4;
}
.blue {
  background-color: blue;
  grid-column: 1/2;
  grid-row: 2 / 4;
  height: 210px;
}
.green {
  background-color: green;
  grid-column: 2/4;
}
.purple {
  background-color: purple;
  grid-column: 2/3;
}

.purple2 {
  background-color: purple;
  grid-column: 3/4;
}
