* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  border: 2px dotted black;
  border-radius: 10px;
  display: inline-block;
  margin: 5px auto 20px auto;
  padding: 10px 25px;
}

h2 {
  display: inline-block;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 1px 1px 10px 2px black, 1px 1px 15px 1px orange;
  margin: 5px auto 20px auto;
  padding: 10px 25px;
}

h3 {
  border: 2px double greenyellow;
  border-radius: 10px;
  display: inline-block;
  margin: 5px auto 20px auto;
  padding: 10px 25px;
}

p {
  border: 2px solid orange;
  color: rgb(241, 14, 215);
  margin: 5px auto 20px auto;
  padding: 25px 25px;
}

p::first-letter {
  font-size: 25px;

  font-weight: bold;
}

p:hover::first-letter {
  font-size: 45px;
  color: red;
  font-weight: bold;
}

ol,
ul {
  margin: 5px auto 20px auto;
  padding: 10px 25px;
  border: 2px dotted greenyellow;
}

ol,
ul li {
  text-decoration: underline green;
}

ol li:first-of-type {
  text-decoration: underline greenyellow;
}
ul li:nth-of-type(2) {
  text-decoration: underline greenyellow;
}
