* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../assets/img/neom-wbOKjgQv3nY-unsplash.jpg) no-repeat center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  padding: 50px;
}

h1 {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.658);
  padding: 80px;
  color: white;
}
