body {
  background-color: grey;
}

.bild {
  height: 100px;
  width: 100px;
  background-color: black;
  margin: 0 auto;
  margin-top: 200px;
}

.bild:hover {
  /* box-shadow: rgba(235, 243, 186, 0.663) 0px 4px 16px,
    rgba(216, 225, 135, 0.374) 0px 8px 32px; */
  animation: meine 8s ease;
  /* box-shadow: rgba(84, 86, 207, 0.827) 0px 7px 29px 0px; */
}

@keyframes meine {
  0% {
    box-shadow: rgba(84, 86, 207, 0.827) 0px 7px 29px 10px;
  }

  25% {
    box-shadow: rgba(84, 207, 94, 0.827) 20px 20px 50px 10px,
      rgba(207, 84, 197, 0.827) -20px -20px 50px 10px;
  }

  50% {
    box-shadow: rgba(207, 84, 197, 0.827) -20px -20px 40px 10px,
      rgba(84, 207, 94, 0.827) 20px 20px 40px 10px;
  }
  75% {
    box-shadow: rgba(180, 34, 46, 0.827) 20px -7px 40px 10px,
      rgba(13, 191, 227, 0.827) -20px 7px 40px 10px;
  }

  100% {
    box-shadow: rgba(227, 13, 127, 0.827) 0px 7px 29px 10px;
  }
}
