section {
  background-color: black;
  position: relative;
  height: 300px;
}

.box1 {
  background-color: tomato;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  top: 10px;
  transition-duration: 2s;
}

.box2 {
  background-color: olive;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0;
  top: 150px;
  transition-delay: 1s;
  transition-duration: 1s;
}

section:hover {
  .box1 {
    left: 90%;
  }

  .box2 {
    left: 90%;
  }
}
